$orange: #f18f01ff;
$lightBlue: #048ba8ff;
$darkBlue: #2e4057ff;
$green: #99c24dff;
$grey: #2f2d2eff;
$lightGrey: #535353;

$note-yellow: #fdf38d;
$note-green: #afffa7;
$note-red: #ff9696;
$note-pink: #eab4ff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: #f06d0650;
}

h2 {
    font-weight: 300;
}

body {
    font-family: Jost, 'sans-serif';
    background: $grey;
    color: #f8f8f8;
    margin: 10px;
}

#button-container {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 10;

    @media screen and (max-width: 480px) {
        bottom: 10px;
        top: initial;
        position: fixed;
    }

}

.button {
    background: $lightBlue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: white;
    cursor: pointer;
    transition: 100ms;
    margin-bottom: 1rem;
    &:hover {
        background: $darkBlue
    }
}

#notes {
    display: block;
    column-count: 4;
    column-gap: 20px;
    column-fill: auto;
    column-width: 300px;
    height: calc(100vh - 40px);
    transition: 200ms;

    @media screen and (max-width: 480px) {
        column-count: 1;
        height: initial;
    }

}

.note {
    display: flex;
    border-radius: 5px;
    background: $note-yellow;
    color: $grey;
    margin-bottom: 20px;
    break-inside: avoid;
    .note-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        i {
            font-size: 1rem;
            cursor: pointer;
            color: $grey;
        }

        h2 {
            font-size: 1rem;
            font-weight: 300;
        }

        .note-actions {
            display: flex;
            align-items: center;
        }
    }

    .note-color-select {
        display: flex;
        align-items: center;
        position: relative;
        align-self: flex-start;
        ul {
            list-style-type: none;
            background: white;
            padding: 5px;
            li {
                height: 20px;
                width: 20px;
                cursor: pointer;
            }
        }
    }

    &.sortable-drag {
        cursor: grabbing;
    }

    &.sortable-chosen {
        cursor: grabbing;
    }

    &.sortable-ghost {
        cursor: grabbing;
        transform: translateX(10);
    }
}

.trash-container {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50vw;
    background: $lightGrey;
    overflow: auto;

    #trash-header {
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        background: $lightGrey;
        padding: 1rem;
    }

    ul {
        list-style-type: none;
        padding: 1rem;
        li {
            border-bottom: 1px solid $grey;
            padding: 1rem 0;
            display: flex;
            align-items: center;

            .restore {
                cursor: pointer;
            }

            > div:not(.restore) {
                flex: 1;
                margin-left: 10px;
            }
        }
    }

}

.--yellow {
    background: $note-yellow;
}

.--green {
    background: $note-green;
}

.--pink {
    background: $note-pink
}

.--red {
    background: $note-red;
}